.gradient-color,
#about-us .icon::after,
.button-main::before,
.button-main:hover {
    background: #004ff9;
    background: -moz-linear-gradient(135deg, #004ff9, #d1cc3e);
    background: -webkit-linear-gradient(135deg, #004ff9, #d1cc3e);
    background: linear-gradient(135deg, #004ff9, #d1cc3e);
}

svg linearGradient stop:first-child {
    stop-color: #004ff9;
}

svg linearGradient stop:last-child {
    stop-color: #d1cc3e;
}