.gradient-color,
#about-us .icon::after,
.button-main::before,
.button-main:hover {
    background: #00bf8f;
    background: -moz-linear-gradient(135deg, #00bf8f, #321751);
    background: -webkit-linear-gradient(135deg, #00bf8f, #321751);
    background: linear-gradient(135deg, #00bf8f, #321751);
}

svg linearGradient stop:first-child {
    stop-color: #00bf8f;
}

svg linearGradient stop:last-child {
    stop-color: #321751;
}